//Bootstrap For Utilities

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities";

//Antd CSS File
@import '~antd/dist/antd.css';


// Custom CSS. Add CSS Below

.loader-container {

  display: table;
  width: 100%;

  .loader {
    padding-top: 100px;
    width: fit-content;
    margin: auto;
  }
}


.custom-layout {
  .logo {
    height: 32px;
    //background: rgba(255,255,255,.2);
    margin: 16px;
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .ant-layout-content {
    min-height: 80vh;
    margin: 24px 16px;
    padding: 24;
  }
}

.profile {
  .quick-links {
    list-style: none;

    li::before {
      content: "\E617";
      font-family: anticon !important;
      margin-right: 5px;

    }
  }

}

.profile-card {
  .time-remaining {
    font-size: 3rem ;
  }
}


.editable-cell {
  position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}